*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(157,153,150);
    background: linear-gradient(0deg, rgba(157,153,150,1) 85%, rgba(0,150,136,1) 85%);
}

.container > section {
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.chat-container{
    width: 80%;
    height: 90vh;
    display: flex;
}

.left{
    width: 35%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    
}

header{
    height: 70px;
    background-color: #EAEAEA;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.name-image{
    display: flex;
}

.my-propic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.left > section{
    height: 80px;
    display: flex;
    background-color: #8EDAFC;
}

.notification-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon > i{
    font-size: large;
    color: #8EDAFC;
    background-color: #FFFFFF;
}

.texts{
    padding: 10px;
}

.texts > p{
    font-size: small;
}

.left > main{
    height: calc(100% - 150px);
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}

.search-contacts{
    height: 50px;
    padding: 5px;
    display: flex;
    background-color: #E9EBEB;
}

.search-icon{
    text-align: center;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

.search-icon > i{
    font-size: small;
}

.search-contacts > input{
    width: 85%;
    border-left: 0;
    border: 1px solid lightgray;
}

.contacts-list{
    height: calc(100% - 50px);
    overflow-y: auto;
}

.single-contact{
    display: flex;
    padding: 10px 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.small-image-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.contact-info{
    flex-grow: 1;
    padding: 0 20px;
}

.right{
    width: 85%;

}

.image-message{
    height: 50px;
    width: 50px;
    border-radius: 50%; 
}

.right > main{
    height: calc(100% - 140px);
    background: url(../img/mine.jpg);
    overflow-y: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.mesage-base{
    padding: 15px;
    border-radius: 3px;
    min-width: 30%;
    max-width: 60%;
    position: relative;
}

.sent{
    align-self: flex-end;
    background-color: #D5F9BA;
}

.recived{
    align-self: flex-start;
    background-color: #EAEAEA;
}

footer{
    height: 70px;
    background-color: #EAEAEA;
    padding: 10px;
    display: flex;
}

.footer-center{
    flex-grow: 1;
}

i{
    padding: 3px 5px;
    font-size: medium;
    color: #868C93;
}

.footer-right > i{
    font-size: large;
    color: gray;
}